## data structure
-list (**important**)
(indexed,ordered,mutable,[]) ** IT  has  11 funcations**

-tuple 
 indexed ,ordered,**immutable**,()

-set(**important**)
(un-indexed,unordered,mutable,no-duplicated,{})

-dicitionary (**important**)
(**un-indexed**,**key-value pairs** ,**ordered**,mutable,{})

In [ ]:
#list
x=[]#empty list
y=['milk',30,'bread',50]
xn=[1,2,3,4],[4,5,6],[34]#nested list
print(xn)
#list with 25 elements with value given to user
xy=[1]*25
print(xy)

In [ ]:

kk=[]
for i in range(3):
    x=(input("enter"))
    kk.append(x)
    print(kk)

In [ ]:
#slicing AND indexing
print(kk[0])
print(kk[:2])
print(kk[-3:])
print(x[::-1])

In [ ]:
# List functions() total 11
# -add
# (append(),insert(),extend())

# -remove
# (remove() ,pop(),clear())

# -utility
#   index()
# -count()
# sort()
# reverse()
# copy()

In [ ]:
Books=[]
Books.append('Atmoic habits') # adds a single item
Books.append('psychology of money')
Books.append('Art of sub-consious mind')
print(Books)
Books.insert(1,"do EPic shits")
print(Books)
Books[2]= 'ayush'
print(Books)

In [ ]:
old_books=['ayush','bhardwaj','gg']
Books.extend(old_books)
print(Books,end='\n')

In [ ]:
#remove is used to remove the element from list removes first occurance
if 'gg' in Books:
  Books.remove("gg")
print(Books)

In [ ]:
# pop  is used to pop the element by knowing the index
Books.pop()
print(Books)
Books.pop() # removes the last index element of the list

In [ ]:
#clear 
Books.clear()
Books

In [ ]:
data = [
    "The Shawshank Redemption",
    "The Godfather",
    "Pulp Fiction",
    "The Dark Knight",
    "Fight Club",
    "Forrest Gump",
    "Goodfellas",
    "The Matrix",
    "Star Wars: Episode V - The Empire Strikes Back",
    "Inception",
    "The Lord of the Rings: The Fellowship of the Ring",
    "The Silence of the Lambs",
    "Schindler's List",
    "Saving Private Ryan",
    "The Departed",
    "The Avengers",
    "The Lion King",
    "Gladiator",
    "The Prestige",
    "The Social Network",
    "Interstellar",
    "The Godfather: Part II",
    "The Green Mile",
    "Se7en",
    "The Usual Suspects",
    "Braveheart",
    "Inglourious Basterds",
    "The Dark Knight Rises",
    "The Wolf of Wall Street",
    "Casablanca",
    "The Great Gatsby",
    "The Lord of the Rings: The Two Towers",
    "The Shining",
    "Schindler's List",
    "Gone with the Wind",
    "The Godfather: Part III",
    "Citizen Kane",
    "The Breakfast Club",
    "Blade Runner",
    "Eternal Sunshine of the Spotless Mind",
    "The Pursuit of Happyness",
    "The Sixth Sense",
    "American Beauty",
    "Jurassic Park",
    "Avatar",
    "The Terminator",
    "Rocky",
    "Back to the Future",
    "The Exorcist",
    "The Wizard of Oz",
    "The Big Lebowski",
    "The Grand Budapest Hotel",
    "The Revenant",
    "Jaws",
    "La La Land",
    "Titanic",
    "Raiders of the Lost Ark",
    "The Princess Bride",
    "Reservoir Dogs",
    "The Truman Show",
    "Memento",
    "Good Will Hunting",
    "A Clockwork Orange",
    "The Departed",
    "Casino",
    "Alien",
    "The Prestige",
    "The Social Network",
    "No Country for Old Men",
    "Drive",
    "Blade Runner 2049",
    "Moonlight",
    "The Shape of Water",
    "Get Out",
    "Django Unchained",
    "Mad Max: Fury Road",
    "Whiplash",
    "Birdman",
    "The Hateful Eight",
    "Spotlight",
    "Arrival",
    "Her",
    "The Imitation Game",
    "Silver Linings Playbook",
    "Dallas Buyers Club",
    "The Martian",
    "Black Swan",
    "The Artist",
    "12 Years a Slave",
    "Boyhood",
    "Gravity",
    "Argo",
    "Manchester by the Sea",
    "The Big Short",
    "Room",
    "The Wolf of Wall Street",
    "A Star is Born",
]
print(len(data))

In [ ]:
#reverse the list in memory permanently
data.reverse() 
print(data)
data[1]

In [ ]:
#sorting (1,A,a) this is order
data.sort()
print(data)
# data.sort(reverse=True) in a,A,1 this is order

In [ ]:
# count
# data.count('A Star is Born')
#index
data.index('Arrival')

In [87]:
d=data.copy()

for i in d:
    print(i)

12 Years a Slave
A Clockwork Orange
A Star is Born
Alien
American Beauty
Argo
Arrival
Avatar
Back to the Future
Birdman
Black Swan
Blade Runner
Blade Runner 2049
Boyhood
Braveheart
Casablanca
Casino
Citizen Kane
Dallas Buyers Club
Django Unchained
Drive
Eternal Sunshine of the Spotless Mind
Fight Club
Forrest Gump
Get Out
Gladiator
Gone with the Wind
Good Will Hunting
Goodfellas
Gravity
Her
Inception
Inglourious Basterds
Interstellar
Jaws
Jurassic Park
La La Land
Mad Max: Fury Road
Manchester by the Sea
Memento
Moonlight
No Country for Old Men
Pulp Fiction
Raiders of the Lost Ark
Reservoir Dogs
Rocky
Room
Saving Private Ryan
Schindler's List
Schindler's List
Se7en
Silver Linings Playbook
Spotlight
Star Wars: Episode V - The Empire Strikes Back
The Artist
The Avengers
The Big Lebowski
The Big Short
The Breakfast Club
The Dark Knight
The Dark Knight Rises
The Departed
The Departed
The Exorcist
The Godfather
The Godfather: Part II
The Godfather: Part III
The Grand Budapest Hotel
The Great Gatsby
The Green Mile
The Hateful Eight
The Imitation Game
The Lion King
The Lord of the Rings: The Fellowship of the Ring
The Lord of the Rings: The Two Towers
The Martian
The Matrix
The Prestige
The Prestige
The Princess Bride
The Pursuit of Happyness
The Revenant
The Shape of Water
The Shawshank Redemption
The Shining
The Silence of the Lambs
The Sixth Sense
The Social Network
The Social Network
The Terminator
The Truman Show
The Usual Suspects
The Wizard of Oz
The Wolf of Wall Street
The Wolf of Wall Street
Titanic
Whiplash

In [86]:
a=[]
for i in d:
    l=len(i)
    a.append(l)
print(a)

[16, 18, 14, 5, 15, 4, 7, 6, 18, 7, 10, 12, 17, 7, 10, 10, 6, 12, 18, 16, 5, 37, 10, 12, 7, 9, 18, 17, 10, 7, 3, 9, 20, 12, 4, 13, 10, 18, 21, 7, 9, 22, 12, 23, 14, 5, 4, 19, 16, 16, 5, 23, 9, 46, 10, 12, 16, 13, 18, 15, 21, 12, 12, 12, 13, 22, 23, 24, 16, 14, 17, 18, 13, 49, 37, 11, 10, 12, 12, 18, 24, 12, 18, 24, 11, 24, 15, 18, 18, 14, 15, 18, 16, 23, 23, 7, 8]

# list compression

new_list = [expression for item in iterable if condition]

In [89]:
#list comprehensation(used in case of creating a list from an existing list)
sz=[len(i)for i in d]
print(sz)

[16, 18, 14, 5, 15, 4, 7, 6, 18, 7, 10, 12, 17, 7, 10, 10, 6, 12, 18, 16, 5, 37, 10, 12, 7, 9, 18, 17, 10, 7, 3, 9, 20, 12, 4, 13, 10, 18, 21, 7, 9, 22, 12, 23, 14, 5, 4, 19, 16, 16, 5, 23, 9, 46, 10, 12, 16, 13, 18, 15, 21, 12, 12, 12, 13, 22, 23, 24, 16, 14, 17, 18, 13, 49, 37, 11, 10, 12, 12, 18, 24, 12, 18, 24, 11, 24, 15, 18, 18, 14, 15, 18, 16, 23, 23, 7, 8]

In [15]:
Names=['alex kumar','ayush bhardwaj','Saloni bhardwaj','raj rajppot','amrita','bruce lee']
f=[n.split()[1] for n in Names]
print(f)

['kumar', 'bhardwaj', 'bhardwaj', 'rajppot', 'amrita', 'lee']

In [7]:
nu=[1,2,3,4,5,6]
sz=[i**3 for i in nu if i%2 !=0]
print(sz)

[1, 27, 125]